[submodule "submodules/service-base"]
	path = submodules/service-base
	url = git://github.com/kit-data-manager/service-base.git
	branch = master
[submodule "submodules/ocrd_workspace"]
	path = submodules/ocrd_workspace
	url = https://github.com/VolkerHartmann/ocrd_workspace.git
	branch = master

[submodule "submodules/ocrd_metadata"]
	path = submodules/ocrd_metadata
	url = https://github.com/VolkerHartmann/ocrd_metadata.git
	branch = master
[submodule "submodules/bagging"]
	path = submodules/bagging
	url = https://github.com/VolkerHartmann/bagging.git
	branch = ocrd
