<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
    <link rel="stylesheet" href="/css/ocr-d-gt-rep_metadata.css" />
     <style>

      th,td { padding: 10px; }

    </style>   
  </head>
<body>
    <h3>List of all Files for ResourceID</h3>
    <table>
      <thead>
        <tr>
          <th>Resource ID</th><th>USE</th><th>PAGEID</th><th>MIMETYPE</th><th>URL</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="file: ${metsFiles}">
          <td th:text="${file.resourceId}"></td>
          <td th:text="${file.use}"></td>
          <td th:text="${file.pageId}"></td> 
          <td th:text="${file.mimetype}"></td> 
          <td><a th:href="${file.url}" th:text="${file.url}"/></td> 
        </tr>
      </tbody>
</table>

</body>
</html>

